.file-view-title {
    padding: 10px 13px 10px 14px;
    background-color: white;
    font-family: Roboto;
    font-size: 14px;
    color: #000000;
    text-align: left;
    line-height: 20px;
}

.file-view-desc {
    padding: 10px 13px 18px 14px;
    background-color: white;
    font-family: Roboto;
    font-size: 14px;
    color: #000000;
    text-align: left;
    line-height: 20px;
}

.file-view-image {
    height: 84px;
    width: 150px;
}

.file-view-info {
    font-family: Roboto;
    font-size: 13px;
    color: #212940;
    text-align: left;
    line-height: 20px;
}

.file-view-header {
    font-family: 'Roboto';
    font-size: 14px;
    color: #212940;
    text-align: left;
}
