.filters{
    height: 89px;
    font-family: Roboto;
}

.title{
    font-size:30px;
    margin-top: -20px;
    margin-left: 10px;
}

.subtitle {
    font-size: 14px;
    margin-left: 10px;
}

.my-files{
    margin-top: -10px;
}

.edited {
    color: #b9e0f9;
}

.reviewed {
    color: #9ef5c3;
}