.historique-title {
    font-size: 18px;
    color: #909bb8;
    margin-top: -5px;
}

#historique-title-box {
    margin-bottom: 0rem;
    box-shadow: none;
    background-color: $link;
    border-radius: 0px;
    text-align: left;
    height: 60px;
}

#historique-content-box {
    box-shadow: none;
    background-color: #f4f5f8;
    border-radius: 0px;
    height: 580px;
    overflow-y: auto
}

.historique-content {
    color: #212940;
    font-size: 14px;
    text-align: left;
    line-height: 20px;
    margin-bottom: 10px;
}

.historique-username {
    font-weight: 500;
    font-size: 12px;
}

.historique-modal-username {
    text-transform: uppercase;
    text-align: center; 
}

.historique-modal-subtitle {
    text-align: justify;
    margin-top: -5px;
    margin-right: 45px; 
}
