.is-small {
    height: 30px;
    text-align: center
}

.is-medium {
    height: 45px;
    text-align: center
}

.is-light {
    background-color: whitesmoke;
}

.hometitle {
    font-size: 20px;
    text-align: center;
    color: #004990;
    font-weight: bold;
}

.homesubtitle {
    font-size: 15px;
    text-align: center;
    color: white;
}

.homeContainer {
    padding-top: 5px;
}

.homeText {
    padding-top: 40px; 
    text-align: center; 
    font-size: 20px; 
    color: black; 
}

html, body {
    height: 100%;
    overflow: hidden;
}

.background-platinium {
    background-color: #eaeaea;
    overflow: hidden;
    height: 1000px;
}