.is-small {
    height: 30px;
    text-align: center
}

.is-medium {
    height: 45px;
    text-align: center
}

.is-light {
    background-color: whitesmoke;
}

.hometitle {
    font-size: 20px;
    text-align: center;
    color: #004990;
    font-weight: bold;
}

.homesubtitle {
    font-size: 20px;
    text-align: center;
    color: #004990;
    font-weight: bold;
}
