@charset "utf-8";

// Set color variables
$link: #212940;
$info: #b9e0f9;
$light-blue: #b9e0f9;

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Rubik');

@import "~bulma/bulma";
//@import '~bulma-tooltip';
@import "../../node_modules/video-react/dist/video-react.css";

@import './utils.scss';
@import './home.scss'; 
@import './historique.scss';
@import './filters.scss';
@import './file.scss';
@import './modals.scss';
@import './fileInput.scss';
@import './fileView.scss';
@import './slider.scss';