@{
    ViewData["Title"] = "Home Page";
}

<div id="react-app">Loading...</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />


@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}
