@{
    ViewData["Title"] = "Home Page";
}

<div id="react-app">Loading...</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
}
